
.header{
    font-family: 'Roboto', sans-serif;
    font-size: 16px; 
    text-align:  center;  
    margin: 0 0 0 0; 
  
}

.center-title{
    font-size: 4em; 
    color: rgb(222,71,153); 

}

.selector-title{
    font-size: 1.8em; 
    font-weight: bold; 
    display: none;
    align-items: flex-end;
    padding-left: 0; 
}

.filter-title{
    padding-left: 0;
    align-items: flex-end; 
    display:flex; 
    font-weight: bold; 
    padding-bottom: 1.3em; 
    font-size: 0.8em; 
}

.hide-filter{
    display:none; 
}

.filter-element{
    margin-right : 0.2em; 
    margin-left : 0.2em; 
    border-bottom: 0.3em solid rgb(56,76,160); 
    color: rgb(56,76, 160); 

}


.filter-element:hover{
    text-decoration: none; 
}
.content{
    margin-top: 3em; 
    font-family: 'Lato', sans-serif;
    font-size: 12px; 
    
}

.photo{
    padding-left : 0; 
}

.photo-container{
    width: 200px; 
    height: 180px; 
    display:flex;
    align-items: center;
    justify-content: center; 
    border-right: 1px solid #dadada ; 

}

.photo-container img{
    width: 90%;
    height: auto; 
    border: 1px solid #dadada; 
    box-shadow: 0 10px 10px -10px rgba(0,0,0,0.3);
}
.work{
    margin: 0 0 2em 0; 
    border: 1px solid #dadada; 
    box-shadow: 0 20px 20px -20px rgba(0,0,0,0.4); 
    cursor: pointer;
}

.game-title{
    font-weight: bolder;
    color: rgb(44,44,44); 
    margin: 6px 0 0 0; 
    font-size: 2em; 

}

.game-subtitle{
    font-weight:bold;
    font-size:0.8em; 
    margin-top:-0.5em; 
    margin-left:0.2em; 
}

.game-subtitle a{
    color: rgb(56,76, 160); 
}


.dropdown-toggle::after{
    display: none; 
}
.filter{

}

.type-names{
}
